/*
Couleur
main : #CCCCCC; gris pale
contrast : #ABDB25; vert
text : #666666; gris foncé
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #666666;
}

body {
	background: transparent url('../img/cream_pixels/cream_pixels.png');
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.content {
	padding: 10px;
}

.nav-wrap {
	background: #CCCCCC;
	padding: 0;
	margin: 0;
}

.top-menu {

}

.top-menu ul {
	list-style: none;
	display: inline-block;
}

.top-menu li {
	display: inline-block;
	margin-top: -5px;
}

.top-menu a {
	display: block;
	text-decoration: none;
	color: #666666;
	padding: 10px 10px;
	margin: 10px;
	outline: none;
}

.top-menu li:first-child a {
	margin-left: 0;
	padding-left: 0;
}

.top-menu a:hover {
	color: #fff;
}

.cta-commande {
	background-color: #ABDB25;
}

.cta-commande a {
	color: #fff;
}

.cta-commande a:hover {
	color: #666666;
}

.notice {
	margin-top: 20px;
	padding: 20px;
}

.notice p:first-child {
	margin-bottom: 10px;
}

.notice ul {
	padding-left: 20px;
}

.notice.error {
	color: #fff;
	background-color: #FF7878;	
}

.notice.error li, .notice.error strong {
	color : #fff;
}

.notice.success {
	background-color: #ABDB56;
}

.home h1 {
	padding-top: 30px;
}

.home .slogan {
	padding-bottom :30px;
}

.home h1,
.home p,
.home h3 {
	text-align: center;
}

.page {
	background-color: #fff;
	padding: 20px;
	margin-top: 20px;
}	

.form-section {
	padding-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.form-section h3 {
	margin: 20px 0;
}

.information label {
	width: 160px;
	display: inline-block;
}

.information input {
	margin-bottom: 20px;
	text-align: left;
}

.table-choice  {
	width: 100%;
}
.table-choice, td {
	background-color: #fff;
	border: 1px solid #CCCCCC;
}

.table-choice td {
	text-align: center;
}
.table-choice tr:first-child td {
	font-weight: bold;
}

.table-choice tr.image td {
	width: 230px;
	height: 230px;
}

.table-choice tr td:first-child {
	font-weight: bold;
	width: 150px;
}

.table-choice td img {
	width: 120px;
	overflow: hidden;
}

.ingredient-wrap {
	display: none;
}
.table-choice tr.image td:hover .ingredient-wrap {
	display: block;
}

.table-choice tr.image td:hover img,
.table-choice tr.image td:hover > p {
	display: none;
}

.ingredient-wrap {
	text-align: left;
	padding: 0 10px;
}

.ingredient-wrap p {
	font-weight: bold;
	margin-bottom: 20px;
}

.ingredient-wrap ul {
	padding-left: 20px;
}
.input-error {
	border: 1px solid #FF7878;
}

.submit-wrap {
	text-align: right;
}

.submit {
	border: none;
	padding: 10px 30px;
	background-color: #ABDB25;
	color: #fff;
	margin-top: 20px;
}

.submit:hover {
	background-color: #ABDB56;
	cursor: pointer;
}

footer {
	background-color: #666666;
	color: #fff;
	margin-top : 50px;
}

footer .container {
	padding: 50px 0;
}

footer h2 {
	text-align: center;
	color: #fff;
}

